@import 'core/reset';


  


  .preview .projectImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    outline: solid 1px pink;
  
    background-image: url('../images/ebook-example.jpg');
    background-position: top center;
    background-size: cover;
  }
  
  .container {
    padding: 22px 22px 0 22px;
    background-color: var(--color-dark);
  }
  
  @media screen and (min-width: 768px) {
    .main {
      max-width: 980px;
      margin-inline: auto;
      display: grid;
      grid-template-columns: 6fr 5fr;
      gap: 2rem;
    }
  }
  
  
  

  /* FORM */
  
  
  
  /* COMPONENTS */
  
  

  
  /* ICONS */
  
