
.landing{
    &__header {
            text-align: center;

        }
    }

.app{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
    align-items: center;
}